body{
    background-color: rgba(63, 63, 63, 0.822);
    font: normal 15pt arial;
    text-align: center;
}
input{
    width: 400px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.644); /* cinzinha */
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 5px 5px 10px rgb(50, 50, 50);
    margin: auto;
}
input:hover{
    width: 400px;
    border-radius: 10px;
    background: rgb(0, 0, 0); /* pretão */
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 5px 5px 10px rgb(50, 50, 50); 
    margin: auto;
}